{% extends "base.html" %}

{% block header %}
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{static_url("css/marketing-old-ie.css")}}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{static_url("css/marketing.css")}}">
    <!--<![endif]-->
{% end %}
{% block body %}
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">My Site</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">主页</a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" class="pure-menu-link">功能</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="../weather" class="pure-menu-link">天气查询</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">号码归属地</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">快递查询</a></li>
                    </ul>
                </li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">个人中心</a></li>
                <li class="pure-menu-item"><a href="../SignIn" class="pure-menu-link">登陆</a></li>
                <li class="pure-menu-item"><a href="../SignOn" class="pure-menu-link">注册</a></li>
            </ul>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="footer l-box is-center">
            View the source of this layout to learn more. Made with love by the YUI Team.
        </div>

    </div>
{% end %}